# Copy this file to .env and fill in your own values.
# Never commit the actual .env file — it should already be in .gitignore.

# ---- GCP Project ----
GCP_PROJECT_ID=
GCS_BUCKET=

# ---- BigQuery ----
BQ_DATASET_RAW=
BQ_TABLE_NNDSS=

# ---- GCP Service Account ----
# Local path on your machine to your GCP service account JSON key file.
# This gets mounted into the Airflow container at /opt/airflow/service_account.json
GOOGLE_APPLICATION_CREDENTIALS_HOST=

# ---- Airflow ----
AIRFLOW_UID=





!!!! RENAME THIS FILE TO .env after filling the variables up !!!